﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSo</title>
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- add favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- EMBED fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- reset css -->
    <link href="~/css/reset.css" rel="stylesheet" />
    <title>shine smile</title>
</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="header-top">
                <!-- logo -->
                <a href="./"><img src="./Images/logo.svg" alt="shine smile" class="logo"></a>
                <!-- nav -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link navbar__link--active">Trang chủ</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link ">Đặt lịch khám bệnh</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link">Services</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link">About</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link">Doctors</a>
                        </li>
                    </ul>
                </nav>
                <!-- cta action -->
                <div class="header__action">
                    <a href="#!" class="header__action--login">Log In</a>
                    <a href="#!" class="btn header__action--signup">Sign Up</a>
                </div>

            </div>

            <!-- hero -->
            <section class="hero">
                <!-- hero left -->
                <section class="hero__content">
                    <h1 class="hero__heading">Exceptional dental care for all ages.</h1>
                    <p class="hero__desc">
                        Exceptional dental care for all ages. Your great smile begins with a great
                        dentist.
                    </p>
                    <div class="hero__row">
                        <a href="#!" class="btn">Book Online</a>
                        <span class="hero__phone">or call (123) 456-7890</span>
                    </div>
                </section>

                <!-- hero right -->
                <div class="hero__media">
                    <figure class="hero__images">
                        <img src="./Images/hero-1.jpg" alt="Exceptional dental care for all ages."
                             class="hero__img hero__img-large">
                        <img src="./Images/hero-2.jpg" alt="Exceptional dental care for all ages."
                             class="hero__img hero__img-small">
                    </figure>
                </div>
            </section>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
