﻿@model DoAnCoSo.Models.LichLamViec

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LichLamViec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BacSi.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
