﻿@model DoAnCoSo.Models.LichLamViec

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LichLamViec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BacSiId" class="control-label"></label>
                <select asp-for="BacSiId" class="form-control" asp-items="ViewBag.BacSiId"></select>
                <span asp-validation-for="BacSiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lich" class="control-label"></label>
                <input asp-for="Lich" class="form-control" />
                <span asp-validation-for="Lich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioBatDau" class="control-label"></label>
                <input asp-for="GioBatDau" class="form-control" />
                <span asp-validation-for="GioBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioKetThuc" class="control-label"></label>
                <input asp-for="GioKetThuc" class="form-control" />
                <span asp-validation-for="GioKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
